<h1>Liste des Blogs</h1>
<% @feeds.each do |feed| %>
  <% if feed.articles.size > 0 %>
    <h2><%= feed.name %></h2>
       <ul>
     <% feed.articles.sort_by{|el| el.published}.reverse.first(5).each do |a| %>
         <li><%= link_to "#{a.title}", a.url%><%= " par #{a.author}" unless a.author.nil?%> le <%= a.published.strftime("%d/%m/%Y")%></li>
     <% end %>
   </ul>

   <% end %>
<% end %>



<br />

<% if user_signed_in? %>
   <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Se connecter", "login" %>
<%end%>

<%= link_to 'New Feed', new_feed_path %>

