<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_feed_path(@feed) %> |
<% end %>
<%= link_to 'Back', feeds_path %>
