pa<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Url:</b>
  <%= @article.url %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Published:</b>
  <%= @article.published %>
</p>

<p>
  <b>Categories:</b>
  <%= @article.categories %>
</p>

<b> Images (<%=@article.images.size%>)</b>
<% @article.images.each do |image| %>

<%= image_tag image.url %>

<% end %>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>



<%= link_to 'Back', articles_path %>


