<!DOCTYPE html>
<html>
<head>
  <title>CafeRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class = "container">

		<div class="hero-unit">
		  <h1><%= image_tag "cafeavectasse.png" %> <span class="badge badge-important"><%= @feeds.size %> Blogs actifs</span></h1>

		  <p> L'association des blogs scientifiques francophones

		  </p>
		</div>

		<%= yield %>

	</div>

</body>
</html>
